/* Square.css */
.square {
    width: 30px;
    height: 30px;
    border: 1px solid #999;
    background-color: #eee;
    margin: 1px;
  }
  
  /* Game.css */
  .game {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }
  
  .board {
    display: inline-block;
    margin-right: 20px;
  }
  
  .board-row {
    clear: both;
  }
  